<section class="searchModule">
  <form [formGroup]="searchModuleForm" (ngSubmit)="getModule()">
      <label for="valuation">Kurskod: <input type="text" formControlName="courseCode" /></label><br>
      <input type="submit" value="Sök kurskod">
  </form>
  <form (ngSubmit)="getResultsView()">
    <select name="options" id="options" [(ngModel)]="selectedOption">
      <option *ngFor="let optn of options">{{optn}}</option>
    </select>
    <br><br>
    <input type="submit" value="Välj">
  </form>
</section>

<table>
  <thead>
    <tr>           
      <th>Namn</th>
      <th>Omdöme i Canvas</th>
      <th>Examinationsdatum</th>
      <th>Betyg i Ladok</th>
      <th>Status</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of _resultsToDisplay">           
      <td>{{result['namn']}}</td>
      <td>{{result['resultCanvas']}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>



<router-outlet></router-outlet>