<section class="searchModule">
  <form [formGroup]="searchModuleForm" (ngSubmit)="getModule()">
      <label for="valuation">Kurskod: <input type="text" formControlName="courseCode" /></label><br>
      <input type="submit" value="Sök kurskod">
  </form>
  <form (ngSubmit)="getResultsView()">
    <select name="options" id="options" [(ngModel)]="selectedOption">
      <option *ngFor="let optn of options">{{optn}}</option>
    </select>
    <br><br>
    <input type="submit" value="Välj">
  </form>
</section>

<table>
  <thead>
    <tr>           
      <th>Namn</th>
      <th>Omdöme i Canvas</th>
      <th>Examinationsdatum</th>
      <th>Betyg i Ladok</th>
      <th>Status</th>
      <th>Information</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let result of _resultsToDisplay" >
        <td>{{result['namn']}}</td>
        <td>{{result['resultCanvas']}}</td>
        <td>
          <div *ngIf="(result['status']==='Attesterad'); else elseBlock1">
            {{result['examinationsdatum']}}
          </div>
        <ng-template #elseBlock1>
          <input type="date" name="time" id="time" value="_examDate">
        </ng-template>
            

        </td>
      
        <td>
          <div *ngIf="(result['status']==='Attesterad'); else elseBlock2">
            {{result['resultLadok']}}
          </div>
        <ng-template #elseBlock2>
          <select id="grade" name="">
            <option value="" selected="selected">Välj</option>
            <option value="U">U</option>
            <option value="G">G</option>
            <option value="VG">VG</option>
          </select>
        </ng-template>


    </td>
        <td>{{result['status']}}</td>
        <td>{{result['information']}}</td>
        <td><button class="button button1" (click)="addResult(result)">Confirm</button></td>      
    </tr>
  </tbody>
</table>



<router-outlet></router-outlet>